*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

header nav{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 0 10px #089da1;
  background: #000;
  position: static;
  left: 0;
  z-index: 100;
}

header nav .logo img{
  width: 100px;
  cursor: pointer;
  margin: 8px 0;
}

header nav li{
  display: inline-block;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0 5px;
}

header nav li a{
  color: #fff;
  text-decoration: none;
  list-style: none;
  padding: 20px 20px;
  letter-spacing: 2px;
  display: block;
  font-size: 18px;
  font-weight: bold;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

header nav li a:hover{
  color: #089da1;
}

header nav li a.active {
  background-color: #009900;
  border-radius: 4px;
}

section{
  width: 100%;
  min-height: 100vh;
  display: block;
  padding: 20px;
  background: url(./images/bg.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  box-sizing: border-box;
}

.Home{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 10%;
}

.Home-tag h1{
  position: relative;
  font-size: 55px;
  top: 80px;
  left: 25px;
}

.Home-tag h1 span{
  color: #089da1;
}

.Home-tag p{
  width: 650px;
  text-align: justify;
  line-height: 22px;
  position: relative;
  top: 125px;
  left: 25px;
}

.Home-tag p span{
  color: #009900;
  font-weight: bold;
  font-size: 20px;
}

.Home-btn{
  background: #089da1;
  padding: 10px 20px;
  position: relative;
  top: 200px;
  left: 25px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.Home-image img{
  width: 780px;
  position: relative;
  top: 90px;
  left: 20px;
  margin: 0 25px;
}

.Services{
  width: 100%;
  height: auto;
  position: relative;
}

.Services-box{
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Services-card{
  text-align: center;
  width: 310px;
  height: auto;
  box-shadow: 0 0 8px #089da1;
  margin: 500px auto;
  padding: 15px 10px;
}

.Services-card img{
  width: 100px;
  position: relative;
  left: 10px;
}

.Services-card h3{
  margin-bottom: 10px;
}

.About{
  width: 100%;
  height: auto;
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.About-image{
  margin-top: 200px;
}

.About-image img{
  width: 780px;
}

.About-tag{
  margin-top: 120px;
}

.About-tag p{
  line-height: 22px;
  width: 650px;
  text-align: justify;
  margin-bottom: 15px;
}

.About-tag p span{
  color: #009900;
  font-weight: bold;
  font-size: 20px;
}

.About-btn{
  padding: 10px 20px;
  background-color: #089da1;
  text-decoration: none;
  color: #fff;
  top: 50px;
}

.Product{
  width: 100%;
  height: 100vh;
  padding: 70px 0;
}

.Product h1{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 45px;
}

.Product-box{
  width: 95%;
  height: 60vh;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  overflow: hidden;
  overflow-x: scroll;
}

.Product-card{
  width: 250px;
  height: 420px;
  text-align: center;
  padding: 5px;
  border: 1px solid #919191;
  margin: auto 20px;
}

.Product-card:hover{
  box-shadow: 0 0 5px #089da1;
}

.Product-card:hover .Product-img img{
  transform: scale(1.1);
}

.Product-img img{
  width: 140px;
  height: 200px;
  margin-top: 10px;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.Product-tag h2{
  margin: 12px;
}

.Product-tag .name{
  color:#919191;
}

.Product-tag .categories{
  color: #009900;
  margin-top: 8px;
}

.Product-tag .price{
  margin-top: 10px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Product-tag .price del{
  font-weight: 100;
  padding: 0 5px;
}

.Product-btn{
  padding: 9px 20px;
  border: 2px solid #089da1;
  text-decoration: none;
  color: #000;
}

::-webkit-scrollbar{
  width: 10px;
  height: 15px;
}

::-webkit-scrollbar-track{
  box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-button{
  background-color: red;
  background-size: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
}

::-webkit-scrollbar-button:hover{
  background-color: #3b09dd;
}

::-webkit-scrollbar-track-piece{
  background-color: aquamarine;
  border-radius: 10px;
  border: 1px solid red;
}

.New_Trand{
  width: 90%;
  margin: auto;
  padding: 20px;
  margin-bottom: 35px;
}

.New_Trand h1{
  font-size: 50px;
  text-align: center;
  margin-bottom: 35px;
}

.New_Trand-box{
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 25px 0;
}

.New_Trand-card{
  width: 250px;
  height: 340px;
  text-align: center;
  padding: 5px;
  border: 1px solid #919191;
  margin: auto 20px;
}

.New_Trand-card:hover{
  box-shadow: 0 0 5px #089da1;
}

.New_Trand-image{
  width: 150px;
  height: 220px;
  margin: 0 auto;
  cursor: pointer;
  margin: 0 0 8px rgba(0,0,0,0.5);
  overflow: hidden;
}

.New_Trand-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: 0.3s;
}

.New_Trand-card:hover .New_Trand-image img{
  transform: scale(1.1);
}

.New_Trand-tag p{
  font-size: 20px;
  margin: 6px 0;
}

.New_Trand-icon{
  margin-bottom: 15px;
  align-items: center;
}

.New_Trand-icon img{
  width: 25px;
  position: relative;
  left: 10px;
}

.New_Trand-btn{
  margin: 4px 0;
  padding: 8px 20px;
  border: 2px solid #089da1;
  text-decoration: none;
  text-align: center;
  color: #000;
}

/*===== Footer =====*/
footer{
  width: 100%;
  background: #646770;
  padding-top: 50px;
}

.footer-main{
  width: 100%;
  margin: auto;
  display:flex;
  justify-content: center;
}

.footer-tag{
  width:33.3%;
}

.footer-tag h3{
  font-size: 28px;
  margin-bottom: 15px;
  text-align: center;
}

.footer-tag p{
  width: 300px;
  margin: auto;
  padding: 7px;
}

.footer-tag ul{
  text-align: center;
}

.footer-tag a{
  text-decoration: none;
}

.footer-tag a:hover{
  color: #f18930;
}

.footer-list{
  padding: 0;
}

.footer-list ul{
  text-align: center;
}

.footer-list li{
  width: 100%;
  text-align:center;
  list-style: none;
  padding: 7px;
  position: relative;
}

.footer-list li::before{
  content: '';
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 100%;
  background: #f18930;
  transition-duration: 0.5s;
}

.footer-list li:hover::before{
  width: 70px;
}

.footer-tag img{
 width: 100px;
}

.footer-bar{
  background: #f18930;
  text-align: center;
  padding: 24px 0;
  margin-top: 50px;
}

.footer-bar p{
  color: #343434;
  margin: 0;
  font-weight: bold;
  font-size: 18px;
  text-spacing-trim: 24px;
  padding: 7px;
}

.contact-container {
  display: block;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  gap: 40px;
}

.contact-form, .contact-info {
  min-height: 36vh;
  margin-top: 80px;
  flex: 1 1 400px;
  background:rgba(255, 255, 255, 0.5);
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.contact-form h2 {
  color: #089da1;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
  margin-bottom: 20px;
}

.contact-info h2 {
  color: #089da1;
  font-weight: bold;
  font-size: 36px;
  margin-bottom: 30px;
  margin-top: 20px;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 20px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form button {
  background: #007BFF;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 16px;
}

.contact-form button:hover {
  background: #0056b3;
}

.contact-info p {
  text-align:justify;
  margin-bottom: 30px;
}

.Reviews{
  width: 100%;
  height: 100vh;
  margin-top: 100px;
}

.Reviews h1{
  color: #089da1;
  text-align: center;
  font-size: 50px;
  padding-top: 55px;
  letter-spacing: 20px;
}

.Reviews-box{
  width: 95%;
  margin: 15px auto;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Reviews-card{
  width: 400px;
  height: 400px;
  box-shadow: 0 0 8px #089da1;
  padding: 30px 15px 0 15px;
  margin: 0 12px;
}

.Reviews-card .card-top img{
  width: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.Reviews-card .card p{
  margin: 10px 0 10px 0;
  text-align: justify;
  line-height: 22px;
}

.Reviews-icon img{
  width: 20px;
  position: relative;
  margin-top: 6px;
  padding: 0 1px;
}